@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Library</title>
</head>
<body>
    <div>
        <h3>Book list</h3>
        <table>
            <tr>
                <td><p>Title of the book</p></td>
                <td><p>Author</p></td>
                <td><p>Genre</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Genre</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Get</a></p></td>
                </tr>
            }
        </table>
        <p><a href="/Book/Create">Add new book</a></p>
    </div>
</body>
</html>